useDynLib(tsets,.registration = TRUE)
import("tsmethods")
import(methods)
importFrom("utils", "head","tail","data","capture.output","read.csv","setTxtProgressBar", "txtProgressBar")
importFrom("stats","pnorm","median","na.omit","fitted","coef","quantile","residuals","predict","as.formula","rpois","runif","rnorm", "acf", "optim", "qnorm", "sd","simulate","arima.sim",
           "diffinv", "ts", "tsp", "tsp<-","na.contiguous","alias", "deviance", "df.residual", "formula", "hat", "lm", "model.matrix", "pchisq", "pf", "vcov", "weights",
           "decompose","lsfit","var","sigma","nlminb","logLik","spec.ar","na.pass", "pgamma", "qqline", "qqnorm")
importFrom("graphics","hist","grid", "legend", "lines", "par", "plot", "points","abline","axis", "axis.Date", "axis.POSIXct", "box", "polygon","layout","mtext")
importFrom("grDevices", "gray","colorRampPalette","n2mfrow")
importFrom("foreach","foreach","%do%","%dopar%","registerDoSEQ")
importFrom("doParallel","registerDoParallel")
importFrom("knitr","kable")
importFrom("snow","makeCluster","stopCluster","clusterExport")
importFrom("data.table","data.table","as.data.table","fwrite",".N","rbindlist","dcast")
importFrom("viridis","viridis_pal")
importFrom("doSNOW","registerDoSNOW")
importFrom("tsaux","box_cox","tslinear","check_xreg","check_newxreg",
           "do.call.fast","mape","mslre","mase","mis","bias",
           "sampling_frequency","fourier_series","future_dates","crps",
           "tstransform","auto_clean")
importFrom("zoo","index","as.zoo","zoo","coredata","na.locf")
importFrom("xts","xts","as.xts","is.xts","endpoints")
importFrom("stlplus","stlplus")
importFrom("tsetsad","estimate_ad.tsets.spec")
importFrom("lubridate","days","weeks","month","years","year","%m+%","tz","days_in_month","ymd")
importFrom("rmarkdown","render","pdf_document")
importFrom("bookdown","pdf_document2")
importFrom("Rsolnp","solnp")
importFrom("truncnorm","qtruncnorm")
importFrom("EnvStats", "rosnerTest")
importFrom(Rcpp,evalCpp)
importFrom(Rcpp,loadModule)
export("ets_modelspec","auto_ets")
S3method("estimate","tsets.spec")
S3method("logLik","tsets.estimate")
S3method("fitted","tsets.estimate")
S3method("AIC","tsets.estimate")
S3method("tsmetrics","tsets.estimate")
S3method("tsmetrics","tsets.predict")
S3method("tsbacktest","tsets.spec")
S3method("tsdecompose","tsets.estimate")
S3method("tsdecompose","tsets.predict")
S3method("residuals","tsets.estimate")
S3method("summary","tsets.estimate")
S3method("plot","tsets.estimate")
S3method("plot","tsets.simulate")
S3method("plot","tsets.profile")
S3method("coef","tsets.estimate")
S3method("predict","tsets.estimate")
S3method("tsreport","tsets.estimate")
S3method("simulate","tsets.estimate")
S3method("tsfilter","tsets.estimate")
S3method("tsspec","tsets.estimate")
S3method("tsdiagnose","tsets.estimate")
S3method("tsbenchmark","tsets.spec")
S3method("tsprofile","tsets.estimate")
